
.consumer_info{

  .title{
    .subtext{
      margin-bottom: 30px;
    }
  }

  .program_body{
    ul{
      list-style: none;
      padding-left: 0px;
      li{
        color: $glit_blue;
        font-weight: bold;
      }
    }
  }
}