

$condensed_sans_serif: 'Roboto Condensed';
$serif: 'Roboto Slab';
$script: 'Courgette';
$glit_blue: #223c83;
$glit_green: #64bc62;
$pale_yellow:  #f6f4e0;

$break-largest: 1900px;
$break-large: 1441px;
$break-medium-large: 1200px;
$break-medium: 1023px;
$break-small: 767px;
$break-smallest: 380px;

@import "navigation";
@import "footer";
@import "carousel";
@import "req_info";
@import "home_page";
@import "program_page";
@import "pages";
@import "news";
@import "req_info_page";
@import "apply_online_page";
@import "consumer_info";

.script{
  font-family: $script;
}

@media screen and (max-width: $break-small) {
  .row{
    margin: 0px;
  }
}
